---

---

<div class="flex gap-2">
  <a href="/" class="text-blue-500 hover:underline">Home</a>
  <a href="/blog/1" class="text-blue-500 hover:underline">Paginado</a>
  <a href="/authors" class="text-blue-500 hover:underline">Autores</a>
</div>